/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(101, 74, 134);
    border: 2px solid black;
    padding: 10px;
}

.header-item {
    display: flex;
    flex-direction: column;
    /* color: black; */
}

.name {
    font-size: 24px;
    font-weight: bold;
    /* color: black; */
}

.email, .phoneno {
    font-size: 14px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    color: rgb(31, 32, 32);
}

.nav-link:hover {
    color: black;
}

/* Intro Section */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.intro-image {
    /* padding: 0;
    margin: 0; */
    max-width: 100%;
    height: auto;
}

.intro-text {
    margin-top: 20px;
}

/* Skills Section */
.skills {
    margin: 20px 0;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-box {
    width: 150px;
    padding: 10px;
    border: 2px solid rgb(108, 99, 99);
    box-shadow: 0 0 10px rgba(125, 98, 98, 0.5);
    text-align: center;
    border-radius: 10px;
}

/* Projects Section */
.projects {
    margin: 20px 0;
}

.projects ul {
    list-style: none;
    padding: 0;
}

.projects li {
    margin-bottom: 15px;
}

.project h2 {
    font-size: 24px;
}

/* Recommendations Section */
.recommendations {
    margin: 20px 0;
}

.recommendation-box {
    padding: 15px;
    border: 2px solid rgb(108, 99, 99);
    box-shadow: 0 0 10px rgba(125, 98, 98, 0.5);
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Leave a Recommendation Section */
.leave-recommendation {
    margin: 20px 0;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid rgb(108, 99, 99);
    box-shadow: 0 0 10px rgba(125, 98, 98, 0.5);
    border-radius: 10px;
}

textarea {
    height: 150px;
}

button {
    width: 100px;
    height: 50px;
    border: 2px solid rgb(108, 99, 99);
    box-shadow: 0 0 10px rgba(125, 98, 98, 0.5);
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .header-item, .nav {
        flex-direction: column;
        align-items: center;
    }

    .intro {
        flex-direction: column;
        text-align: center;
    }

    .skill-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-box {
        width: 100%;
        max-width: 300px;
    }

    .input-field {
        width: 100%;
    }
}
